:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.main {
  margin: 50px;
}
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.single_product {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 20px;
  margin: 25px 20px;
}
.img {
  width: 300px;
  max-height: 200px;
  object-fit: cover;
}
.show {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.btn_add,
.btn_remove,
.btn__add,
.btn__remove {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btn_remove:disabled {
  cursor: default;
}

.btn_remove:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
.btn_remove {
  background-color: rgb(255, 30, 30) !important;
}
.btn__add,
.btn__remove {
  width: max-content !important;
  padding: 5px 10px;
  margin: 0 20px;
}
.btn_div {
  position: absolute;
  top: 15px !important;
  right: 0 !important;
}
.btn__remove {
  background-color: rgb(255, 30, 30) !important;
}

.cart {
  padding: 15px;
}
.cart_body {
  padding: 15px;
  margin: 10px;
  position: relative;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 1em;
}
